body {
    background-color: #deb563;
}

h1 {
    text-align: center;
    padding-top: 2.5em;
}

h1, h2, h3 {
    font-family: 'Fondamento', cursive;
    color: #373f27;
}

h3 {
    margin: 0px;
    text-align: center;
    padding-bottom: .5em;
}

#learn > p, h2, footer {
    width: 90%;
    margin: 1rem auto;
}

p {
    font-family: 'Crimson Text', serif;
}

section#flowers {
    display: flex;
    flex-wrap: wrap;
    row-gap: 16px;
    column-gap: 32px;
    margin: auto;
    justify-content: center;
}

.flower {
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    background-color: #e9e7da;
    width: 25%;
    padding: 2em;
    height: fit-content;
}

footer > p {
    text-align: center;
    font-size: 12px;
}

a {
    color:#636B46;
}

a:hover, a:focus {
    color:#636B46;
    text-decoration: none;
}

a:active {
    color: #636B46;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}
